@import "tailwindcss";

* {
  font-family: Outfit;
}

.lightHover {
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.lightHover:hover {
  background-color: #fcf4ff;
  transform: translateY(-0.25rem);
  box-shadow: 4px 4px 0 #000;
}

/* Default Light Theme */
body {
  background-color: #fff; /* Light background */
  color: #000; /* Dark text */
}

/* Dark Mode Styles (when .dark class is added) */
html.dark {
  background-color: #11001F; /* Dark background */
  color: #fff; /* Light text */
}

html.dark .dark-Theme {
  background-color: #11001F; /* Dark background */
}

html.dark .dark-text {
  color: #fff; /* Light text */
}

html.dark .lightHover:hover {
  background-color: #2c1b36; /* Dark mode hover color */
}

/* Font Families */
.font-outfit {
  font-family: "Outfit", sans-serif;
}

.font-ovo {
  font-family: "Ovo", serif;
}

/* Shadows */
.shadow-black {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}

/* Grid Columns */
.grid-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
